{% extends 'masterpage.html' %}
{% load static %}
{% block extend_head %}
{% if car %}
    <a href="/home/cart" class="menu" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
        <i class="icon-shopping-cart"></i>
        <span class="cart-count">{{car.cart_product.all|length}}</span>
    </a>
{% endif %}
<link rel="stylesheet" href="{% static 'main/css/icon.css' %}">
{% endblock %}

{% block container %} 
<div class="page-content">
    <div class="container">
       
        <h1>Hola {{user.firstName}}</h1> 
       
        <div class="toolbox">
            <div class="toolbox-center">
                <div class="toolbox-info">
                    Showing <span> {{products|length}}</span> Products
                </div><!-- End .toolbox-info -->
            </div><!-- End .toolbox-center -->
        </div><!-- End .toolbox -->
        <div class="products">
            <div class="product">
                <div class="row">
                    {% for product in products %}
                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                        <div class="product">
                            <figure class="product-media">
                                <a href="#">
                                    <img src="{% static 'main/assets/images/face-1.jpg' %}" alt="Product image" class="product-image">
                                </a>
                                <div class="product-action action-icon-top">
                                    <a href="/home/cart/{{product.product.id}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                            <div class="product-body">
                                <div class="product-cat">
                                    {{product.product.category.category}} 
                                </div><!-- End .product-cat -->
                                <h3 class="product-title">{{product.product.description}} </h3><!-- End .product-title -->
                                <div class="product-price">
                                    {{product.product.unitPrice}} 
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="datos" class="capas">
            
        </div>
    </div>
</div>       
{% endblock%}
{% block extend_footer %}

{% endblock %}